@page "/categories"
@using Domain.Entities
@inject HttpClient http

<h3>Category</h3>

<a class="btn btn-primary mb-3" href="/categories/add">Add Category</a>
@if (category == null)
{
	<p>Loading...</p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>S.N</th>
				<th>Name</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@for( int i=0; i<category.Count; i++)
			{
				<tr>
					<td>@(i+1)</td>
					<td>@category[i].Name</td>
					<td>@category[i].Description</td>
					<td>
						<a class="btn btn-info btn-sm" href="/categories/details/@category[i].Id">Details</a>
						<a class="btn btn-warning btn-sm" href="/categories/edit">Edit</a>
						<a class="btn btn-danger btn-sm">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	private List<Category>? category;
	protected override async Task OnInitializedAsync()
	{
		try
		{
			category = await http.GetFromJsonAsync<List<Category>>("api/category");
		}
		catch (Exception ex)
		{
			Console.WriteLine($"{ex.Message}");
		}
	}
}